<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Boolzapp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        <script src="https://kit.fontawesome.com/c7e27443fd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <header>

        </header>
        <main>
            <div class="container" id="App">
                <section class="contact-side">
                    <div class="contact-side-nav">
                        <div class="contact-side-nav-avatar">
                            <img src="./img/avatar_io.jpg">
                            <p>Sofia</p>
                        </div>
                        <div class="contact-side-nav-icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        
                    </div>
                    <div class="contact-side-notif">
                        <div class="contact-side-notif-icon">
                            <i class="fa-solid fa-bell-slash fa-2x"  style="background:#F2FBFF; border-radius:50%; color:#8EDAFC"></i>
                        </div>
                        <div class="contact-side-notif-message">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <p class="contact-side-notif-message-mod">Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="contact-side-search">
                        <div class="container-contact-search">
                            <div class="contact-side-search-glassDiv">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div>
                                <p>Cerca o inizia una nuova chat</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-side-chatList">
                        <ul class="contact-side-chats">
                            <li v-for="(contact,i) in contactList" :key="contact.name" @click="setActiveContact(i)">
                                <div class="contact">
                                    <div class="contact-img">
                                        <img :src="contactList[i].avatar" alt="contactList[i].name">
                                    </div>
                                    <div class="contact-name">
                                        <p>{{contactList[i].name}} </p>
                                        <p>Ultimo messaggio inviato</p>
                                        
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="chat-side" v-if="activeContact !== null">
                    <div class="chat-side-nav" >
                        <div class="chat-side-nav-avatar">
                            <img :src="contactList[activeContact].avatar">
                            <div class="chat-side-nav-avatar-text">
                                <p>{{contactList[activeContact].name}}</p>
                                <p>ultimo accesso</p>
                            </div>
                        </div>
                        <div>
                            <div class="chat-side-nav-icons">
                                <i class="fa-solid fa-magnifying-glass margin5"></i>
                                <i class="fa-solid fa-paperclip margin5"></i>
                                <i class="fa-solid fa-ellipsis-vertical margin5"></i>
                            </div>
                        </div>
                    </div>
                    <div class="chat-side-messageArea">
                        <article class="message"
                        v-for="messageContact in contactList[activeContact].messages" 
                        :key="messageContact.date" 
                        :class="{'sent': messageContact.status === 'sent', 'received': messageContact.status === 'received'}">
                        {{ messageContact.message }}
                    </article>
                    </div>
                    <footer class="chat-side-footer-container">
                        <div class="chat-side-footer">
                            <div class="chat-side-footer-icons">
                                <i class="fa-solid fa-face-smile fa-2x"></i>
                            </div>
                            <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="sendMessage" >
                            <div class="chat-side-footer-icons">
                                <i class="fa-solid fa-microphone fa-2x"></i>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
        </main>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/script.js"></script>
    </body>
</html>